.main_contents

  .chat-main__group-info
    .chat-main__group-info__name
      test
    .chat-main__group-info__member
      member : masa, koko
    .chat-main__group-info__edit-button
      =link_to "#", class: "contents__btn" do
        Edit

  .chat-main__message-list
    .chat-main__message-list__list
      .chat-main__message-list__list__name
        masa
      .chat-main__message-list__list__date
        2019/11/20(Wed) 17:43:01
    .chat-main__message-list__message
      Hello!

    .chat-main__message-list__list
      .chat-main__message-list__list__name
        masamasa
      .chat-main__message-list__list__date
        2019/12/20(Wed) 18:12:01
    .chat-main__message-list__message
      Hello!!!!

  .chat-main__message-form
    %form
      .input-box
        %input.input-box__text{type: "text", placeholder:"type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file",class: "input-box__image__file"}
      %input.submit-btn{type:"submit",value:"Send"}
  